<kie-server-state>
  <controllers/>
  <configuration>
    <configItems>
      <config-item>
        <name>org.kie.server.location</name>
        <value>http://localhost:8090/rest/server</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.controller</name>
        <value></value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.id</name>
        <value>SpringBoot</value>
        <type>java.lang.String</type>
      </config-item>
    </configItems>
  </configuration>
  <containers>
    <container>
      <containerId>hello</containerId>
      <releaseId>
        <groupId>org.jbpm</groupId>
        <artifactId>evaluation</artifactId>
        <version>1.0</version>
      </releaseId>
      <status>STARTED</status>
      <scanner>
        <status>STARTED</status>
        <pollInterval>5000</pollInterval>
      </scanner>
      <configItems>
        <config-item>
          <name>RuntimeStrategy</name>
          <value>SINGLETON</value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>MergeMode</name>
          <value>MERGE_COLLECTIONS</value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>KBase</name>
          <value></value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>KSession</name>
          <value></value>
          <type>java.lang.String</type>
        </config-item>
      </configItems>
      <messages/>
    </container>
  </containers>
</kie-server-state>